@import "includes/reset.css";
@import "includes/grid.css";
@import "includes/colors.css";
@import "includes/header.css";
@import "includes/panel.css";
@import "includes/font.css";
@import "includes/box.css";
@import "includes/button.css";
@import "includes/form.css";
@import "includes/table.css";

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--primrary-color);
    padding: 11rem 2rem 2rem;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
    margin: 0 0 1rem;
    padding: 0 1.5rem;
}

ul ul {
    list-style-type: circle;
    padding-left: 1.5rem;
}
li {
    margin-bottom: .25rem;
    font-size: 1.25rem;
}