@import "includes/reset.css";
@import "includes/header.css";
@import "includes/panel.css";
@import "includes/font.css";
@import "includes/box.css";

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #27303c;
    padding: 11rem 2rem 2rem;
}

.btn {
    border: 1px solid #27303c;
    color: #fff;
    background-color: #27303c;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    transition: all ease .5s;
}

.btn:hover {
    background: #fff;
    color: #27303c;
    text-decoration: none;
}

.btn.btn-secondary {
    border: 1px solid #27303c;
    color: #27303c;
    background-color: #fff;
}

.btn.btn-secondary:hover {
    background: #27303c;
    color: #fff;
    text-decoration: none;
}

.icon-button {
    background: #27303c;
    color: #fff;
    border-radius: 1rem;
    font-size: 1.5rem;
    position: relative;
    transition: all ease .5s;
    text-decoration: none;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
}

.icon-button.small {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.icon-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-button:hover {
    background: #1a2025;
    text-decoration: none;
}

.icon-button.light-blue {
    background: #7EADCB;
}

.icon-button.light-blue:hover {
    background: #5e8ba3;
}

.icon-button.green {
    background: #90EE90;
}

.icon-button.green:hover {
    background: #6abf6b;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}