.btn {
  font-weight: 600;
  padding: .5rem 1rem;

  svg {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    margin-top: -.2rem;
  }
}

.icon-button {
  background: $color-primary;
  color: $color-white;
  border-radius: 1rem;
  font-size: 1.5rem;
  position: relative;
  transition: all ease .5s;
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;

  &:hover {
    background: $color-info;
    color: $color-white;
  }

  &.icon-button--small {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
  }

  &.icon-button--blue {
    background: $color-dark;

    &:hover {
      background: $color-black;
    }
  }

  &.icon-button--green {
    background: $color-secondary;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: $navigation-breakpoint) {
  .btn:not(.mobile-needed), .icon-button {
    display: none;
  }

    .btn.mobile-needed {
      display: inline-block;
      width: 100%;
    }
}