.btn {
  border: 1px solid $blue-charcoal;
  color: $white;
  background-color: $blue-charcoal;
  border-radius: 1rem;
  padding: .5rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  transition: all ease .5s;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $blue-charcoal;
    text-decoration: none;
  }

  &.btn--secondary {
    border: 1px solid $blue-charcoal;
    color: $blue-charcoal;
    background-color: $white;

    &:hover {
      background: $blue-charcoal;
      color: $white;
      text-decoration: none;
    }
  }
}

.icon-button {
  background: $blue-charcoal;
  color: $white;
  border-radius: 1rem;
  font-size: 1.5rem;
  position: relative;
  transition: all ease .5s;
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;

  &:hover {
    background: $blue-charcoal-dark;
    color: $white;
  }

  &.icon-button--small {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
  }

  &.icon-button--blue {
    background: $blue-powder;

    &:hover {
      background: $blue-steel;
    }
  }

  &.icon-button--green {
    background: $green-mint;

    &:hover {
      background: $green-fern;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}