h1 {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $font-breakpoint) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @media screen and (max-width: $font-breakpoint) {
    font-size: 1.25rem;
  }
}

h1, h2 {
  font-weight: 400;
  margin-bottom: .5rem;
  border-bottom: 1px solid $blue-charcoal;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;

  @media screen and (max-width: $font-breakpoint) {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: $blue-charcoal;
  transition: color ease .5s;

  &:hover {
    color: $blue-powder;
  }

  &.delete {
    color: $red-tomato;
  }
}