header {
  background: $color-white;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid $color-white;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  @media screen and (max-width: $navigation-breakpoint) {
    display: none;
  }

  img {
    height: 4rem;
  }

  nav {
    a {
      margin: .25rem .5rem 0;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}