.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  &.table--striped tr:nth-child(odd) {
    background-color: $color-light;
  }

  tr {

    &:hover {
      background-color: $color-white !important;
    }

    td, th {
      padding: .2rem .5rem;

      a{
        margin-left: .5rem;
        display: inline-block;
      }
    }

    th {
      text-align: left;
    }
  }
}