$tab-nav-height: 4.25rem;
$tab-nav-background: $color-dark;
$tab-nav-color: $color-white;
$button-size: 4rem;
$button-font-size: 1.75rem;
$button-side-font-size: 1.25rem;
$border-width: 13rem;
$border-height: 2.5rem;
$offset-double-add: 2.5rem;

.tab-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $tab-nav-height;
  background-color: $tab-nav-background;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .5);
  z-index: 10;
  display: none;
  padding: 0 3rem;

  @media screen and (max-width: $navigation-breakpoint) {
    display: flex;
  }

  .tab-nav__button {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-primary;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tab-nav-color;
    transition: .5s ease all;

    &:hover {
      background-color: $color-info;
    }

    &--submit, &--right {
      background-color: $color-secondary;
      cursor: pointer;
    }

    &--left svg, &--right svg{
      width: $button-side-font-size;
      height: $button-side-font-size;
    }

    &--left {
      left: calc(50% - $offset-double-add);
      transform: translateX(-50%);
    }

    &--right {
      left: calc(50% + $offset-double-add);
      transform: translateX(-50%);
    }

    svg {
      width: $button-font-size;
      height: $button-font-size;
    }
  }

  .tab-nav__border {
    clip-path: url(#menu);
    left: 50%;
    transform: translateX(-50%);
    bottom: 99%;
    width: $border-width;
    height: $border-height;
    position: absolute;
    will-change: transform;
    background-color: $tab-nav-background;

    &--left {
      left: calc(50% - $offset-double-add);
      transform: translateX(-50%);
    }

    &--right {
      left: calc(50% + $offset-double-add);
      transform: translateX(-50%);
    }
  }

  .tab-nav__icon {
    color: $tab-nav-color;

    svg {
      width: $button-side-font-size;
      height: $button-side-font-size;
    }
  }
}