:root {
    --primrary-color: #27303c;
    --primary-color-hover: #1a2025;
    --secondary-color: #7EADCB;
    --secondary-color-hover: #5e8ba3;
    --green-color: #90EE90;
    --green-color-hover: #6abf6b;
    --red-color: #FF6347;
    --white-color: #fff;
    --grey-ligth-color: #fafafa;
    --grey-color: #ddd;
    --grey-dark-color: #9a9a9a;
}