.table {
    width: 100%;
    border-collapse: collapse;
}
.table tr:hover {
    background-color: var(--grey-color) !important;
}

.table th {
    text-align: left;
}

.table.table--striped tbody tr:nth-child(odd) {
    background-color: var(--grey-ligth-color);
}

.table a{
    margin-left: .5rem;
    display: inline-block;
}

.table tr td, .table tr th {
    padding: .2rem .5rem;
}