<th:block th:fragment="tripCard">
    <!--/*@thymesVar id="trip" type="ch.lucio_orlando.travel_budget_app.models.Trip"*/-->
    <div class="trip-card">
        <div class="trip-card__image" th:style="'background-image: url(' + ${trip.image} + ')'"></div>

        <div class="trip-card__info">
            <h2 th:text="${trip.name}">Trip Name</h2>

            <p th:if="${trip.endDate == null}">
                <i data-lucide="calendar"></i>
                <span th:text="${trip.dateFormatted}">Start Date</span>
            </p>

            <p th:if="${trip.endDate != null}">
                <i data-lucide="calendar"></i>
                <span th:text="${trip.dateFormatted}">Start</span>
                -
                <span th:text="${trip.endDateFormatted}">End</span>

                <span th:if="${trip.active}">
                    <br>
                    <i data-lucide="clock"></i>
                    <span th:text="${trip.remainingDays + ' days left'}">Remaining Days</span>
                </span>
            </p>
            <span class="badge badge-light" th:text="${trip.currency.code}">currency</span>

            <hr>

            <div class="trip_card__info--details">
                <p class="mb-0">
                    Total spent<br>
                    <span class="trip-card__info-total"><i data-lucide="swiss-franc"></i><span th:text="${trip.amountCHFFormatted}"></span></span><br>
                    <i data-lucide="swiss-franc"></i><span class="trip-card__info-daily" th:text="${trip.dailyAverageCHFFormatted} + ' / day'"></span>
                </p>

                <div class="trip-card__actions">
                    <a class="btn btn-outline-secondary mobile-needed" th:href="@{'/trip/' + ${trip.id}}">
                        View details
                    </a>
                </div>
            </div>

            <a tooltip="delete"
               flow="left"
               class="delete trip-card__delete"
               th:href="${trip.parentTrip != null
                         ? '/trip/delete/' + trip.id + '/' + trip.parentTrip.id
                         : '/trip/delete/' + trip.id}">
                <i th:data-lucide="trash"></i>
            </a>
        </div>
    </div>
</th:block>