<th:block th:fragment="tripInfoHeader">
    <!--/*@thymesVar id="trip" type="ch.lucio_orlando.travel_budget_app.models.Trip"*/-->
    <h1 class="trip-info__name" th:if="${trip != null}">
        <span th:text="${trip.name}">Trip Name</span>

        <span>
            <a
               class="btn btn-outline-secondary mobile-needed"
               th:href="@{'/trip/edit/' + ${trip.id}}"
            >
                <i data-lucide="pencil"></i> Edit Trip
            </a>

            <a th:if="${!trip.expenseMode}"
               class="btn btn-primary"
               th:href="@{'/trip/new/' + ${trip.id}}"
            >
                <i data-lucide="plus"></i> Add Subtrip
            </a>

            <a th:if="${!trip.subTripMode}"
               class="btn btn-primary"
               th:href="@{'/trip/' + ${trip.id} + '/expense'}"
            >
                <i data-lucide="plus"></i> Add Expense
            </a>
        </span>
    </h1>
    <p th:if="${trip != null}" class="trip-info mb-0">
        <span>
            <i data-lucide="calendar"></i>
            <span th:text="${trip.dateFormatted}">Start Date</span>
            <span th:if="${trip.endDate != null}">
                - <span th:text="${trip.endDateFormatted}">End Date</span>
            </span>
        </span>
    </p>
</th:block>