<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">

<th:block th:fragment="title">
    400 Error
</th:block>

<th:block th:fragment="content">
    <div class="panel">
        <div class="panel-heading">
            <p>400 Error</p>
        </div>
        <div class="panel-body">
            <p th:if="${!showException}">
                <strong>Something went wrong with your request.</strong> <br>
                Please check the URL or click the button below to return to the homepage.
            </p>
            <p th:if="${showException}">
                <strong th:text="${exception.message}">Exception message</strong>
            </p>
            <p th:if="${showException}">
                Stack trace:<br>
                <code th:each="line : ${stacktrace}">
                    <span th:text="${line}">stack trace line</span>
                </code>
            </p>
        </div>
    </div>
    <div th:replace="~{widget/back-button :: backButtonDefault('/')}"></div>
</th:block>
</html>