<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">

<th:block th:fragment="title">
    <th:block th:text="${category.id != null ? 'Edit Category' : 'New Category'}">New Category</th:block>
</th:block>

<th:block th:fragment="content">
    <form th:action="@{'/category'}" method="post">
        <h2 th:text="${category.id != null ? 'Edit Category' : 'Create a New Category'}">Create a New Category</h2>

        <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

        <input type="hidden" name="id" th:value="${category.id}">

        <div class="row">
            <div class="col-12 col-lg-6">
                <div th:replace="~{widget/form/input :: input('name','Name',true,${category.name},'text')}"></div>
            </div>
        </div>

        <div th:replace="~{widget/form/buttons :: formButtonsDefault(${'/category'})}"></div>
    </form>

    <div th:replace="~{widget/bottom-nav :: tabNavForm('/', 'fa-arrow-left', '/', 'fa-house')}"></div>
</th:block>
</html>