<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">

<th:block th:fragment="title">
    Categories
</th:block>

<th:block th:fragment="content">
    <h1>
        <span>Categories</span>
        <a th:href="@{/category/new}" tooltip="add category" class="icon-button icon-button--green icon-button--small">
            <i data-lucide="plus"></i>
        </a>
    </h1>

    <p th:if="${#lists.isEmpty(groupedCategories)}" style="text-align: center; margin-bottom: 0">
        No categories
    </p>

    <table th:unless="${#lists.isEmpty(groupedCategories)}" class="table table--striped">

        <tbody>
            <th:block th:each="entry : ${groupedCategories}">
                <tr>
                    <td>
                        <strong th:text="${entry.key.name}"></strong>
                    </td>
                    <td style="text-align: right">
                        <a tooltip="edit" th:href="@{/category/edit/{id}(id=${entry.key.id})}">
                            <i data-lucide="pencil"></i>
                        </a>
                        <a tooltip="delete" th:href="@{/category/delete/{id}(id=${entry.key.id})}" class="delete">
                            <i data-lucide="trash"></i>
                        </a>
                    </td>
                </tr>

                <tr th:each="child : ${entry.value}">
                    <td style="padding-left: 2rem;" th:text="${child.name}"></td>
                    <td style="text-align: right">
                        <a tooltip="edit" th:href="@{/category/edit/{id}(id=${child.id})}">
                            <i data-lucide="pencil"></i>
                        </a>
                        <a tooltip="delete" th:href="@{/category/delete/{id}(id=${child.id})}" class="delete">
                            <i data-lucide="trash"></i>
                        </a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>

    <div th:replace="~{widget/back-button :: backButton('/')}"></div>

    <div th:replace="~{widget/bottom-nav :: tabNavCustom('/', 'arrow-left', '/category/new', '/', 'house')}"></div>
</th:block>
</html>