<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">

<th:block th:fragment="title">
    <th:block th:text="${expense.id != null ? 'Edit Expense' : 'New Expense'}">New Expense</th:block>
</th:block>

<th:block th:fragment="content">
    <form th:action="@{'/trip/' + ${expense.parentTrip.id} + '/expense'}" method="post">
        <div th:replace="~{widget/trip-info-header :: tripInfoHeader}"></div>

        <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

        <input type="hidden" name="id" th:value="${expense.id}">
        <input type="hidden" name="parentTrip" th:value="${expense.parentTrip.id}">

        <div class="row">
            <div class="col-12 col-lg-4">
                <div th:replace="~{widget/form/input :: input('name','Expense name',true,${expense.name},'text')}"></div>
            </div>
            <div class="col-6 col-lg-4">
                <div th:replace="~{widget/form/input :: input('date','Date',true,${#dates.format(expense.date, 'yyyy-MM-dd')},'date')}"></div>
            </div>
            <div class="col-6 col-lg-4">
                <div th:replace="~{widget/form/input :: input('amount','Amount',true,${expense.amount},'text')}"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div th:replace="~{widget/form/select :: selectName('category','Category',true,${categories},${expense.category != null ? expense.category.id : null})}"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div th:replace="~{widget/form/select :: selectCode('currency','Currency',true,${currencies},${expense.currency != null ? expense.currency.id : null})}"></div>
            </div>

        </div>

        <div th:replace="~{widget/form/buttons :: formButtonsDefault(${'/trip/' + expense.parentTrip.id})}"></div>
    </form>

    <div th:replace="~{widget/bottom-nav :: tabNavForm(${'/trip/' + expense.parentTrip.id}, 'fa-arrow-left', '/', 'fa-house')}"></div>
</th:block>
</html>