<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<!--/*@thymesVar id="trip" type="ch.lucio_orlando.travel_budget_app.models.Trip"*/-->
<th:block th:fragment="title">
    Detail <th:block th:text="${trip.name}">Trip</th:block>
</th:block>

<th:block th:fragment="content">
    <div class="panel">
        <div class="panel-heading">
            <p>
                <span th:text="${trip.name}">Trip Name</span>
                (
                <span th:text="${trip.dateFormatted}">Start Date</span>
                <span th:if="${trip.endDate != null}">
                    - <span th:text="${trip.endDateFormatted}">End Date</span>
                </span>
                )
            </p>

            <div>
                <a tooltip="add subtrip"
                   th:if="${!trip.expenseMode}"
                   class="icon-button icon-button--blue icon-button--small"
                   th:href="@{'/trip/new/' + ${trip.id}}"
                >
                    <i class="fa-solid fa-suitcase"></i>
                </a>

                <a tooltip="add expense"
                   th:if="${!trip.subTripMode}"
                   class="icon-button icon-button--green icon-button--small"
                   th:href="@{'/trip/' + ${trip.id} + '/expense'}"
                >
                    <i class="fa-solid fa-coins"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div th:if="${trip.expenseMode}">
                <table class="table table--striped">
                    <tr>
                        <th style="width: 150px">Date</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th style="text-align: right; width: 130px">Amount</th>
                        <th style="text-align: right; width: 130px">CHF</th>
                        <th style="text-align: right; width: 80px">Actions</th>
                    </tr>
                    <tr th:each="expense : ${trip.components}">
                        <td th:text="${expense.dateFormatted}"></td>
                        <td th:text="${expense.name}">Expense Name</td>
                        <td th:text="${expense.category.name}">Category</td>
                        <td style="text-align: right"
                            th:text="${expense.amount + ' ' + expense.currency.code}">0.00</td>
                        <td style="text-align: right" th:text="${expense.amountCHF}">0.00</td>
                        <td style="text-align: right">
                            <a tooltip="edit"
                               th:href="@{'/trip/' + ${expense.parentTrip.id} + '/expense/' + ${expense.id}}">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a tooltip="delete"
                               class="delete"
                               th:href="@{'/trip/' + ${expense.parentTrip.id} + '/expense/' + ${expense.id} + '/delete'}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Total</strong></td>
                        <td style="text-align: right"><strong th:text="${trip.amountCHF + ' CHF'}">0 CHF</strong></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div th:if="${trip.subTripMode}">
                <div class="trip-container">
                    <th:block th:each="trip : ${trip.components}">
                        <div th:replace="~{widget/trip-card :: tripCard}"></div>
                    </th:block>
                </div>
            </div>

            <p th:if="${!trip.expenseMode and !trip.subTripMode}" style="text-align: center">
                No sub-trips or expenses
            </p>
        </div>
    </div>

    <div th:replace="~{widget/back-button :: backButtonDefault(${trip.parentTrip != null ? '/trip/' + trip.parentTrip.id : '/trip'})}"></div>

</th:block>
</html>